
<html>

  <body>
    <h1>List of Restaurants</h1>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul>
          {% for message in messages %}
            <li><strong>{{message}}</strong></li>
          {% endfor %}
        </ul>
    {% endif %}
    {% endwith %}
    <a href="{{url_for('newRestaurant')}}">Create a new restaurant</a>
    <br>
    <br>
    {% for html_restaurant in app_restaurants %}

        <p>{{html_restaurant.name}} <a href="{{url_for('showMenu',restaurant_id=html_restaurant.id)}}">[MENU]</a></p>
        <a href="{{url_for('editRestaurant',restaurant_id=html_restaurant.id)}}">edit restaurant</a> <br>
        <a href="{{url_for('deleteRestaurant',restaurant_id=html_restaurant.id)}}">delete restaurant</a>
        <br>

    {% endfor %}
  </body>
</html>
